h1 {
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(252, 221, 186);
    color: rgb(9, 9, 9);
    font-family: Helvetica;
    font-size: 50px;
    text-align: center;
    
  }
  .header{
    color: black;
    font-family: Helvetica;
    font-size: 35px;
    text-align: center; width: auto;
    background-color: rgb(252, 221, 186);
    

  }
 h2 {
      border-radius: 5px;
      display: block;
      justify-content: center;
      background-color: rgb(252, 221, 186); 
      font-family: Helvetica;
      margin-left: 550px;
      margin-right: 550px;
      font-size: 30px;
      color: black;
      text-align: center;
  }
  h3{
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(252, 221, 186);
    color: rgb(9, 9, 9);
    font-family:Helvetica;
    font-size: 40px;
    text-align: center;

  }
  body {
background-image: url(lar-pet.jpg); 
background-position:center;
background-attachment: fixed;
margin-left: 30px;
margin-bottom: 30px;
color: rgb(12, 12, 11);
font-family: Helvetica;
font-size: 30px;
  }
.fotos {
    display:block;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 40%;
  }
  .menu
    ul{
        text-align: center;            
        display: flex;
        justify-content: center; 
        margin-left: 10px;
        margin-right: 10px;          
    }
    li{
        border-radius: 5px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgb(252, 221, 186); 
        list-style-type: none;                  
    }
    .menu a{
       color: rgb(9, 9, 9); padding-right: 40px;
      }
  